@model IEnumerable<baitaplon.Models.diemthi>

    @{
        ViewBag.Title = "listDiem";
        Layout = "~/Views/Shared/_Layoutgv.cshtml";
    }
    <h2>Bảng điểm sinh viên</h2>

    @using (Html.BeginForm("EditDiem", "Giangvien", FormMethod.Post))
    {
        <table style="width:100%">
            <tr>
                <th>Mã môn học</th>
                <th>Tên môn học</th>
                <th>Điểm</th>
                <th>Chỉnh sửa</th>
            </tr>
            @for (int i = 0; i < Model.Count(); i++)
            {
                var item = Model.ElementAt(i);
                <tr>
                    <td>@item.MaMH</td>
                    <td>@item.Monhoc</td>
                    <td>
                        @item.DiemThi1

                    </td>
                    <td>
                        <a href="@Url.Action("editdiem", new { MaMH = item.MaMH })">Sửa điểm</a>
                    </td>
                </tr>
            }
        </table>
    }
