USE [master]
GO
/****** Object:  Database [QLSV]    Script Date: 14/05/2024 12:20:55 SA ******/
CREATE DATABASE [QLSV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLSV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLSV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSV]
GO
/****** Object:  Table [dbo].[diemthi]    Script Date: 14/05/2024 12:20:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[diemthi](
	[MaSV] [int] NOT NULL,
	[MaMH] [int] NOT NULL,
	[DiemThi] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[giangvien]    Script Date: 14/05/2024 12:20:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giangvien](
	[MaGV] [int] IDENTITY(1,1) NOT NULL,
	[TenGV] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NULL,
	[NgaySinh] [date] NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[MaKhoa] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khoa]    Script Date: 14/05/2024 12:20:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khoa](
	[MaKhoa] [int] IDENTITY(1,1) NOT NULL,
	[TenKhoa] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhoa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lop]    Script Date: 14/05/2024 12:20:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lop](
	[MaLop] [int] IDENTITY(1,1) NOT NULL,
	[TenLop] [nvarchar](50) NOT NULL,
	[MaNganh] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[monhoc]    Script Date: 14/05/2024 12:20:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[monhoc](
	[MaMH] [int] IDENTITY(1,1) NOT NULL,
	[TenMH] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nganh]    Script Date: 14/05/2024 12:20:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nganh](
	[Manganh] [int] IDENTITY(1,1) NOT NULL,
	[Tennganh] [nvarchar](50) NULL,
	[MaKhoa] [int] NULL,
 CONSTRAINT [PK_nganh] PRIMARY KEY CLUSTERED 
(
	[Manganh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sinhvien]    Script Date: 14/05/2024 12:20:56 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sinhvien](
	[MaSV] [int] IDENTITY(1,1) NOT NULL,
	[TenSV] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[SDT] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NULL,
	[MaLop] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[diemthi]  WITH CHECK ADD  CONSTRAINT [FK_DiemThi_MonHoc] FOREIGN KEY([MaMH])
REFERENCES [dbo].[monhoc] ([MaMH])
GO
ALTER TABLE [dbo].[diemthi] CHECK CONSTRAINT [FK_DiemThi_MonHoc]
GO
ALTER TABLE [dbo].[diemthi]  WITH CHECK ADD  CONSTRAINT [FK_DiemThi_SinhVien] FOREIGN KEY([MaSV])
REFERENCES [dbo].[sinhvien] ([MaSV])
GO
ALTER TABLE [dbo].[diemthi] CHECK CONSTRAINT [FK_DiemThi_SinhVien]
GO
ALTER TABLE [dbo].[giangvien]  WITH CHECK ADD  CONSTRAINT [FK_GiangVien_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[khoa] ([MaKhoa])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[giangvien] CHECK CONSTRAINT [FK_GiangVien_Khoa]
GO
ALTER TABLE [dbo].[lop]  WITH CHECK ADD  CONSTRAINT [FK_lop_nganh] FOREIGN KEY([MaNganh])
REFERENCES [dbo].[nganh] ([Manganh])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[lop] CHECK CONSTRAINT [FK_lop_nganh]
GO
ALTER TABLE [dbo].[nganh]  WITH CHECK ADD  CONSTRAINT [FK_nganh_Khoa] FOREIGN KEY([MaKhoa])
REFERENCES [dbo].[khoa] ([MaKhoa])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[nganh] CHECK CONSTRAINT [FK_nganh_Khoa]
GO
ALTER TABLE [dbo].[sinhvien]  WITH CHECK ADD  CONSTRAINT [FK_SinhVien_Lop] FOREIGN KEY([MaLop])
REFERENCES [dbo].[lop] ([MaLop])
ON UPDATE CASCADE
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[sinhvien] CHECK CONSTRAINT [FK_SinhVien_Lop]
GO
ALTER TABLE [dbo].[giangvien]  WITH CHECK ADD CHECK  ((len([SDT])=(10) AND ([SDT] like '090%' OR [SDT] like '098%' OR [SDT] like '091%' OR [SDT] like '031%' OR [SDT] like '035%' OR [SDT] like '038%')))
GO
ALTER TABLE [dbo].[giangvien]  WITH CHECK ADD CHECK  ((len([SDT])=(10) AND ([SDT] like '090%' OR [SDT] like '098%' OR [SDT] like '091%' OR [SDT] like '031%' OR [SDT] like '035%' OR [SDT] like '038%')))
GO
ALTER TABLE [dbo].[giangvien]  WITH CHECK ADD CHECK  ((len([TenGV])>=(10) AND len([TenGV])<=(50)))
GO
ALTER TABLE [dbo].[giangvien]  WITH CHECK ADD CHECK  ((len([TenGV])>=(10) AND len([TenGV])<=(50)))
GO
ALTER TABLE [dbo].[sinhvien]  WITH CHECK ADD CHECK  ((len([SDT])=(10) AND ([SDT] like '090%' OR [SDT] like '098%' OR [SDT] like '091%' OR [SDT] like '031%' OR [SDT] like '035%' OR [SDT] like '038%')))
GO
ALTER TABLE [dbo].[sinhvien]  WITH CHECK ADD CHECK  ((len([SDT])=(10) AND ([SDT] like '090%' OR [SDT] like '098%' OR [SDT] like '091%' OR [SDT] like '031%' OR [SDT] like '035%' OR [SDT] like '038%')))
GO
ALTER TABLE [dbo].[sinhvien]  WITH CHECK ADD CHECK  ((len([TenSV])>=(10) AND len([TenSV])<=(50)))
GO
ALTER TABLE [dbo].[sinhvien]  WITH CHECK ADD CHECK  ((len([TenSV])>=(10) AND len([TenSV])<=(50)))
GO
USE [master]
GO
