
@{
    ViewBag.Title = "gioithieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:red">Lịch sử phát triển</h2>
<div class="anhls">
    <img src="~/theme/img/lichsu.jpg" style="text-align:center" width="500px" height="350px" />
</div>
    <p>Trường Đại học Sư phạm Kỹ thuật là trường công lập, thành viên của Đại học Đà Nẵng được thành lập năm 2017 theo quyết định số 1749/QĐ-TTgcủa Thủ tướng Chính Phủ ngày 08/11/2017. Là trung tâm đào tạo nguồn nhân lực kỹ thuật và công nghệ phục vụ cho nhu cầu phát triển kinh tế - xã hội khu vực miền Trung – Tây Nguyên, nhà trường đã liên tục phát triển qua các thời kỳ lịch sử:</p>
    <p>•  1960: Đặt viên đá đầu tiên xây dựng Trường Kỹ thuật Đà Nẵng;</p>
    <p>•  1962: Khai giảng khóa đầu tiên;</p>
    <p>•  1976: Chuyển đổi thành Trường Công nhân Kỹ thuật Nguyễn Văn Trỗi;</p>
    <p>•  1994: Thành lập Trường Cao đẳng Công nghệ thuộc Đại học Đà Nẵng;</p>
    <p>•  2017: Thành lập Trường Đại học Sư phạm Kỹ thuật thuộc Đại học Đà Nẵng.</p>


    

<p>
    Hiện nay, nhà trường đào tạo hệ đại học chính qui, gồm các ngành: Ngành Sư phạm Kỹ thuật công nghiệp (Chuyên ngành Công nghệ thông tin); Công nghệ thông tin; Công nghệ kỹ thuật xây dựng (Chuyên ngành Xây dựng dân dụng & Công nghiệp); Công nghệ kỹ thuật giao thông(Chuyên ngành Xây dựng cầu đường); Công nghệ kỹ thuật cơ khí (Chuyên ngành Cơ khí chế tạo); Công nghệ kỹ thuật cơ điện tử; Công nghệ kỹ thuật ô tô
    Công nghệ kỹ thuật nhiệt (Chuyên ngành Nhiệt- Điện lạnh); Công nghệ kỹ thuật điện, điện tử (Gồm 02 chuyên ngành Kỹ thuật điện tử và Hệ thống cung cấp điện); Công nghệ kỹ thuật điện tử - viễn thông; Công nghệ kỹ thuật điều khiển và tự động hóa; Kỹ thuật cơ sở hạ tầng; Công nghệ kỹ thuật môi trường; Kỹ thuật thực phẩm; Công nghệ Vật liệu; Công nghệ kỹ thuật kiến trúc; Công nghệ Kỹ thuật Hóa học.

    Phát huy truyền thống hơn 60 năm xây dựng và phát triển, Trường Đại học Sư phạm Kỹ thuật không ngừng cải tiến, nâng cao chất lượng đào tạo và nghiên cứu khoa học để cung cấp nguồn nhân lực kỹ thuật công nghệ cao ở khu vực miền Trung – Tây Nguyên và cả nước.
</p>