@{
    ViewBag.Title = "Home Page";
}
<div id="content">
    <h3>Tin nổi bật</h3>
    <div id="services">
        <ul>
            <li>
                <div class="fl_left">
                    <img  src="~/theme/img/1234.jpg" width="185px" height="120px">
                </div>
                <div class="fl_right">
                    <h2>Indonectetus facilis</h2>
                    <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
                    <p class="readmore"><a href="#">Continue Reading »</a></p>
                </div>
            </li>
            <li>
                <div class="fl_left">
                    <img src="~/theme/img/12.jpg" width="185px" height="120px">
                </div>
                <div class="fl_right">
                    <h2>Indonectetus facilis</h2>
                    <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
                    <p class="readmore"><a href="#">Continue Reading »</a></p>
                </div>
            </li>
            <li class="last">
                <div class="fl_left">
                    <img src="~/theme/img/11.jpg" width="185px" height="120px">
                </div>
                <div class="fl_right">
                    <h2>Indonectetus facilis</h2>
                    <p>Nullamlacus dui ipsum cons eque loborttis non euis que morbi penas dapibulum orna. Urnaultrices quis curabitur phasellentesque.</p>
                    <p class="readmore"><a href="#">Continue Reading »</a></p>
                </div>
            </li>
        </ul>
        <br class="clear">
    </div>
    <div class='featurebox_center'>
        Lorem ipsum summo nominavi pri et. Stet eruditi perfecto at sed, ad
        enim <a href="#">constituto deseruisse</a> quo, mea no quem eros munere.
        Ad splendide quaerendum per, ea minimum officiis oportere vel, an has <a href="#">perpetua</a> percipitur. Consequat contentiones his te, id
        noster menandri his. Per partem perfecto eu, est soluta accusata ex.
    </div>
    <p>
        <a href="#">Lorem ipsum summo nominavi</a> pri et. Stet eruditi perfecto
        at sed, ad enim constituto deseruisse quo, mea no quem eros munere. Ad
        splendide quaerendum per, ea minimum officiis <a href="#">oportere</a> vel,
        an has perpetua percipitur. Consequat contentiones his te, id noster
        menandri his. Per partem perfecto eu, est soluta accusata ex.
    </p>
    <h4>Sub Title</h4>
    <p>
        Lorem ipsum summo nominavi pri et. Stet eruditi perfecto at sed, ad
        enim constituto deseruisse quo, mea no quem eros munere. Ad splendide
        quaerendum per, ea minimum officiis oportere vel, an has perpetua percipitur.
        Consequat contentiones his te, id noster menandri his. Per partem perfecto eu,
        est soluta accusata ex.
    </p>
    <p>
        Lorem ipsum summo <a href="#">nominavi</a> pri et. Stet eruditi perfecto at
        sed, ad enim constituto deseruisse quo, mea no quem eros munere. Ad
        splendide quaerendum per, ea minimum officiis oportere vel, an has
        perpetua percipitur. Consequat <a href="#">contentiones</a> his te, id
        noster menandri his. Per partem perfecto eu, est soluta accusata ex.
    </p>
    <h3>Center Content Title</h3>
    <p>
        Consequat contentiones his te, id noster menandri his. Per partem perfecto
        eu, est soluta accusata ex. Lorem ipsum summo nominavi pri et. Stet eruditi
        perfecto at sed, ad enim constituto deseruisse quo, mea no quem eros munere.
        Ad splendide quaerendum per, ea minimum <a href="#">officiis</a> oportere
        vel, an has perpetua percipitur. Consequat contentiones his te, id noster
        menandri his. Per partem perfecto eu, est soluta accusata ex.
    </p>
    <p>
        Lorem ipsum summo nominavi pri et. Stet eruditi perfecto at sed, ad enim
        constituto deseruisse quo, mea no quem eros munere. Ad splendide quaerendum
        per, ea <a href="#">minimum officiis</a> oportere vel, an has perpetua
        percipitur. Consequat contentiones his te, id noster menandri his. Per partem
        perfecto eu, est soluta accusata ex. Lorem ipsum summo nominavi pri et. Stet
        eruditi perfecto at sed, ad enim constituto <a href="#">deseruisse</a> quo,
        mea no quem eros munere. Ad splendide quaerendum per, ea minimum officiis
        oportere vel, an has perpetua percipitur. Consequat contentiones his te,
        id <a href="#">noster menandri</a> his. Per partem perfecto eu, est soluta
        accusata ex.
    </p>
</div>