
@{
    ViewBag.Title = "tintuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main">
    <div id="t3-mainbody" class="container t3-mainbody">
        <div class="row magazine-list grid-view equal-height">
            <p>
                &nbsp;
            </p>
            <div id="t3-content" class="col t3-content col-md-9 " style="min-height: 1670px;">
                <div class="row-articles equal-height">

                </div><div class="row-articles equal-height">
                    <div class="anhls" style="min-height: 366px;">
                        <div class="magazine-item-media">
                            <span class="media-mask"></span>
                            <div class="anhls">
                                <a  href="#" previewlistener="true"><img src="~/theme/img/12.jpg"  width="500px" height="350px" title="Tọa đàm giới thiệu Chương trình khoa học và công nghệ trọng điểm cấp quốc gia, mã số KC-4.0/19-30"></a>
                            </div>
                        </div>
                        <div class="magazine-item-main">
                            <div class="article-title">
                                <h3 itemprop="name">
                                    <a id="ctl00_ContentPlaceHolder1_dlTinTuc_ctl00_linkTinTuc" href="TinTuc/9396/1/Toa-dam-gioi-thieu-Chuong-trinh-khoa-hoc-va-cong-nghe-trong-diem-cap-quoc-gia-ma-so-KC401930.aspx" previewlistener="true">Tọa đàm giới thiệu Chương trình khoa học và công nghệ trọng điểm cấp quốc gia, mã số KC-4.0/19-30</a>
                                </h3>
                            </div>
                            <aside class="article-aside clearfix">
                                <dl class="article-info muted">

                                    <dd class="published hasTooltip" title="Được đăng: ">
                                        <i class="icon-calendar"></i>
                                        10 tháng 05 2024
                                    </dd>
                                </dl>
                            </aside>
                            <div class="magazine-item-ct">
                                <p style="text-align: justify;">
                                    Ngày 09/5/2024, Trường Đại học Sư phạm Kỹ thuật – Đại học Đà Nẵng đã phối hợp với Văn phòng các Chương trình trọng điểm cấp Nhà nước, Vụ Công nghệ cao – Bộ Khoa học và Công nghệ, Ban Chủ nhiệm Chương trình tổ chức Tọa đàm giới thiệu Chương trình khoa học và công nghệ trọng điểm cấp quốc gia “Hỗ trợ nghiên cứu, phát triển và ứng dụng công nghệ của công nghiệp 4.0”, mã số KC-4.0/19-30 và tìm kiếm nhiệm vụ thực hiện cho năm 2025.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col col-xs-12 col-sm-4 magazine-item" style="min-height: 366px;">
                        <div class="anhls">
                            <span class="media-mask"></span>
                            <div class="pull-left item-image">
                                
                                <a id="anhls" href="#" previewlistener="true"> <img src="~/theme/img/11.jpg" width="500px" height="350px" title="Trường Đại học Sư phạm Kỹ thuật-ĐHĐN tư vấn tuyển sinh, hướng nghiệp năm 2024 tại Trường THPT Vạn Tường, Quảng Ngãi"></a>
                            </div>
                        </div>
                        <div class="magazine-item-main">
                            <div class="article-title">
                                <h3 itemprop="name">
                                    <a id="ctl00_ContentPlaceHolder1_dlTinTuc_ctl01_linkTinTuc" href="TinTuc/9395/2/Truong-Dai-hoc-Su-pham-Ky-thuatDHDN-tu-van-tuyen-sinh-huong-nghiep-nam-2024-tai-Truong-THPT-Van-Tuong-Quang-Ngai.aspx" previewlistener="true">Trường Đại học Sư phạm Kỹ thuật-ĐHĐN tư vấn tuyển sinh, hướng nghiệp năm 2024 tại Trường THPT Vạn Tường, Quảng Ngãi</a>
                                </h3>
                            </div>
                            <aside class="article-aside clearfix">
                                <dl class="article-info muted">

                                    <dd class="published hasTooltip" title="Được đăng: ">
                                        <i class="icon-calendar"></i>
                                        10 tháng 05 2024
                                    </dd>
                                </dl>
                            </aside>
                            <div class="magazine-item-ct">
                                <p style="text-align: justify;">
                                    *Ngày 08/5/2024, Trường Đại học (ĐH) Sư phạm Kỹ thuật-Đại học Đà Nẵng (ĐHĐN) tổ chức Chương trình Tư vấn tuyển sinh-Hướng nghiệp năm 2024 tại Trường THPT Vạn Tường, huyện Bình Sơn, tỉnh Quảng Ngãi với sự tham gia của các thầy, cô hai trường cùng gần 500 học sinh lớp 12.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col col-xs-12 col-sm-4 magazine-item" style="min-height: 366px;">
                        <div class="anhls">
                            <span class="media-mask"></span>
                            <div class="pull-left item-image">
                                <a id="anhls" href="#" previewlistener="true"><img src="~/theme/img/543.jpg"  width="500px" height="350px" title="Trường ĐH Sư phạm Kỹ thuật – ĐH Đà Nẵng tổ chức buổi làm việc giữa Khoa Điện – Điện tử và Ban Giám hiệu nhà trường"></a>
                            </div>
                        </div>
                        <div class="magazine-item-main">
                            <div class="article-title">
                                <h3 itemprop="name">
                                    <a id="anhls" href="#" previewlistener="true">Trường ĐH Sư phạm Kỹ thuật – ĐH Đà Nẵng tổ chức buổi làm việc giữa Khoa Điện – Điện tử và Ban Giám hiệu nhà trường</a>
                                </h3>
                            </div>
                            <aside class="article-aside clearfix">
                                <dl class="article-info muted">

                                    <dd class="published hasTooltip" title="Được đăng: ">
                                        <i class="icon-calendar"></i>
                                        09 tháng 05 2024
                                    </dd>
                                </dl>
                            </aside>
                            <div class="magazine-item-ct">
                                <p style="text-align: justify;">
                                    Ngày 24/3/2024, Trường Đại học Sư phạm Kỹ thuật – Đại học Đà Nẵng đã tổ chức buổi làm việc giữa Khoa Điện – Điện tử và Ban Giám hiệu nhà trường.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <section class="items-more">
                    <h3>Các bài khác...</h3>
                    <ol class="nav">

                        <li>
                            <a id="ctl00_ContentPlaceHolder1_dlTTTuongTu_ctl00_HyperLink4" class="mod-articles-category-title linktuongtu" href="TinTuc/9390/1/Truong-DH-Su-pham-Ky-thuat-%E2%80%93-DH-Da-Nang-to-chuc-Ngay-hoi-viec-lam-nam-2024.aspx" previewlistener="true">Trường ĐH Sư phạm Kỹ thuật – ĐH Đà Nẵng tổ chức Ngày hội việc làm năm 2024<img id="ctl00_ContentPlaceHolder1_dlTTTuongTu_ctl00_Image1" src="images/newnew.gif" style="border-width:0px;"></a>
                        </li>

                        <li>
                            <a id="ctl00_ContentPlaceHolder1_dlTTTuongTu_ctl01_HyperLink4" class="mod-articles-category-title linktuongtu" href="TinTuc/9389/1/Doi-tuyen-robocon-Truong-Dai-hoc-Su-pham-Ky-thuat--DHDN-tham-gia-Cuoc-thi-Robocon-Viet-Nam-nam-2024.aspx" previewlistener="true">Đội tuyển robocon Trường Đại học Sư phạm Kỹ thuật - ĐHĐN tham gia Cuộc thi Robocon Việt Nam năm 2024<img id="ctl00_ContentPlaceHolder1_dlTTTuongTu_ctl01_Image1" src="" style="border-width:0px;"></a>
                        </li>

                        <li>
                            <a id="ctl00_ContentPlaceHolder1_dlTTTuongTu_ctl02_HyperLink4" class="mod-articles-category-title linktuongtu" href="TinTuc/9388/1/Lanh-dao-Truong-DH-Su-pham-Ky-thuat-tham-du-Le-ky-niem-76-nam-thanh-lap-Hoi-Kien-truc-su-Viet-Nam.aspx" previewlistener="true">Lãnh đạo Trường ĐH Sư phạm Kỹ thuật tham dự Lễ kỷ niệm 76 năm thành lập Hội Kiến trúc sư Việt Nam<img id="ctl00_ContentPlaceHolder1_dlTTTuongTu_ctl02_Image1" src="" style="border-width:0px;"></a>
                        </li>

                        <li>
                            <a id="ctl00_ContentPlaceHolder1_dlTTTuongTu_ctl03_HyperLink4" class="mod-articles-category-title linktuongtu" href="TinTuc/9387/1/Bong-chuyen-nam-sinh-vien-Truong-DH-Su-pham-Ky-thuat-dat-Huy-chuong-Dong-tai-Dai-hoi-The-thao-sinh-vien-Dai-hoc-Da-Nang-lan-thu-XIII--nam-2024.aspx" previewlistener="true">Bóng chuyền nam sinh viên Trường ĐH Sư phạm Kỹ thuật đạt Huy chương Đồng tại Đại hội Thể thao sinh viên Đại học Đà Nẵng lần thứ XIII - năm 2024<img id="ctl00_ContentPlaceHolder1_dlTTTuongTu_ctl03_Image1" src="" style="border-width:0px;"></a>
                        </li>

                        <li>
                            <a id="ctl00_ContentPlaceHolder1_dlTTTuongTu_ctl04_HyperLink4" class="mod-articles-category-title linktuongtu" href="TinTuc/9386/11/Kien-UDUTE-voi-Festival-Sinh-vien-Kien-truc-toan-quoc-lan-thu-XIV-%E2%80%93-HUSC-2024.aspx" previewlistener="true">Kiến UD-UTE với Festival Sinh viên Kiến trúc toàn quốc lần thứ XIV – HUSC 2024<img id="ctl00_ContentPlaceHolder1_dlTTTuongTu_ctl04_Image1" src="" style="border-width:0px;"></a>
                        </li>

                        <table cellpadding="3" cellspacing="1" border="0" class="PagerContainerTable">
                            <tbody>
                                <tr>
                                    <td class="PagerInfoCell">Trang  1  / 395</td>
                                    <td class="PagerCurrentPageCell"><span class="PagerHyperlinkStyle" title="Showing Results 1 to 5  / 1974"><strong> 1 </strong></span></td>
                                    <td class="PagerOtherPageCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','2')" title="Show Result 6 to 10  / 1974"> 2 </a></td>
                                    <td class="PagerOtherPageCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','3')" title="Show Result 11 to 15  / 1974"> 3 </a></td>
                                    <td class="PagerOtherPageCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','4')" title="Show Result 16 to 20  / 1974"> 4 </a></td>
                                    <td class="PagerOtherPageCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','5')" title="Show Result 21 to 25  / 1974"> 5 </a></td>
                                    <td class="PagerOtherPageCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','6')" title="Show Result 26 to 30  / 1974"> 6 </a></td>
                                    <td class="PagerOtherPageCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','7')" title="Show Result 31 to 35  / 1974"> 7 </a></td>
                                    <td class="PagerOtherPageCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','8')" title="Show Result 36 to 40  / 1974"> 8 </a></td>
                                    <td class="PagerOtherPageCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','9')" title="Show Result 41 to 45  / 1974"> 9 </a></td>
                                    <td class="PagerOtherPageCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','10')" title="Show Result 46 to 50  / 1974"> 10 </a></td>
                                    <td class="PagerSSCCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','70')" title="Show Result 346 to 350  / 1974"> 70 </a></td>
                                    <td class="PagerSSCCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','130')" title="Show Result 646 to 650  / 1974"> 130 </a></td>
                                    <td class="PagerSSCCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','200')" title="Show Result 996 to 1000  / 1974"> 200 </a></td>
                                    <td class="PagerSSCCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','260')" title="Show Result 1296 to 1300  / 1974"> 260 </a></td>
                                    <td class="PagerSSCCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','330')" title="Show Result 1646 to 1650  / 1974"> 330 </a></td>
                                    <td class="PagerOtherPageCells"><a class="PagerHyperlinkStyle" href="javascript:__doPostBack('ctl00$ContentPlaceHolder1$Pager1','2')" title=" Next to Page 2"> Tiến </a></td>
                                </tr>
                            </tbody>
                        </table>
                        <span id="ctl00_ContentPlaceHolder1_Pager1" style="color:#006600;font-weight:bold;"></span>
                    </ol>
                </section>
            </div>
            <!-- SIDEBAR RIGHT -->
            <div class="col t3-sidebar t3-sidebar-right col-md-3 " style="min-height: 1670px;">
                <div class="t3-module module visible-reading ">
                    <div class="module-inner">
                        <div class="module-ct">
                            <div class="custom visible-reading">
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#profile" data-toggle="tab">Tin tức - Sự kiện </a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div id="home" class="tab-pane active">
                                        <div class="moduletable">
                                            <div class="section-inner ">
                                                <div class="category-module magazine-links">

                                                    <div class="magazine-item link-item">
                                                        <div class="col col-content" style="width: 100%;">
                                                            <div class="article-title">
                                                                <h3 itemprop="name">
                                                                    <a id="ctl00_ContentPlaceHolder1_dlLoaiTinTuc_ctl00_linksubtintuclap" href="LoaiTinTuc/5/Tin-cua-cac-Trung-tam-truc-thuoc.aspx" previewlistener="true">Tin của các Trung tâm trực thuộc</a>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="magazine-item link-item">
                                                        <div class="col col-content" style="width: 100%;">
                                                            <div class="article-title">
                                                                <h3 itemprop="name">
                                                                    <a id="ctl00_ContentPlaceHolder1_dlLoaiTinTuc_ctl01_linksubtintuclap" href="LoaiTinTuc/6/Thai-Lan.aspx" previewlistener="true">Thái Lan</a>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="magazine-item link-item">
                                                        <div class="col col-content" style="width: 100%;">
                                                            <div class="article-title">
                                                                <h3 itemprop="name">
                                                                    <a id="ctl00_ContentPlaceHolder1_dlLoaiTinTuc_ctl02_linksubtintuclap" href="LoaiTinTuc/7/Nhat-Ban.aspx" previewlistener="true">Nhật Bản</a>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="magazine-item link-item">
                                                        <div class="col col-content" style="width: 100%;">
                                                            <div class="article-title">
                                                                <h3 itemprop="name">
                                                                    <a id="ctl00_ContentPlaceHolder1_dlLoaiTinTuc_ctl03_linksubtintuclap" href="LoaiTinTuc/8/Tin-Ung-dung-CNTT.aspx" previewlistener="true">Tin Ứng dụng CNTT</a>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="magazine-item link-item">
                                                        <div class="col col-content" style="width: 100%;">
                                                            <div class="article-title">
                                                                <h3 itemprop="name">
                                                                    <a id="ctl00_ContentPlaceHolder1_dlLoaiTinTuc_ctl04_linksubtintuclap" href="LoaiTinTuc/9/Tin-tuc-Video.aspx" previewlistener="true">Tin tức Video</a>
                                                                </h3>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //SIDEBAR RIGHT -->
        </div>
    </div>
</div>  

