@model baitaplon.Models.sinhvien

@{
    ViewBag.Title = "trangchu";
    Layout = "~/Views/Shared/_Layoutsv.cshtml";
}

<h2>Trang chủ</h2>

<div>
    <hr />

<h2>Xin chào sinh viên  @ViewBag.name</h2>

</div>

