@model baitaplon.Models.sinhvien

@{
    ViewBag.Title = "listDiem";
    Layout = "~/Views/Shared/_Layoutsv.cshtml";
}
<style>
    body {
        color: #111111;
    }
    table, td, th {
        border: 1px solid;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }
</style>
<h2>Bảng điểm sinh viên</h2>

<table >
    <tr>
        <th>Mã môn học</th>
        <th>Tên môn học</th>
        <th>Điểm</th>
    </tr>
    @foreach (var item in Model.diemthi)  
    {
        <tr>
            <td>@item.MaMH</td>
            <td>@item.Monhoc</td>
            <td>@item.DiemThi1</td>
        </tr>
    }
</table>
